body{
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.main-header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 90px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:#f2f2f2;
    border-radius: 15px;
}

.main-header .logo {
    font-size: 20px;
    color:black;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-menu li {
    margin-right: 20px;
}

.top-menu strong {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.hero-video {
    margin: 10px;
    border-radius: 15px;
}

.video-section {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 160px;
    padding: 20px;
    margin: 10px;
    background-color:rgb(143, 144, 141);
    display: flex;
    border-radius: 15px;
}

.content {
   font-size: 60px;
   font-weight: bold;
   color:black;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 70px 0px;
}

.product-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: calc(33.33%-20PX);
    text-align: left;
    text-decoration: none;
    color: inherit;
    transform: transform 0.3s ease;
}

.product {
    background-color:rgb(143, 144, 141);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.recommend {
    padding-left: 70px;
    color:black;
}

.about {
    background-color:#f2f2f2;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 100px;
    border-radius: 15px;
}

.about h1 {
    color:black;
}

.about p {
    font-size: 20px;
}

.search-from {
    flex-grow: 1;
    margin: 0px 20px;
    text-align:right;
    width: 400px;
}

.search-bar {
    width: 353px;
}

.contact {
    display: flex;
    justify-content:center;
    align-items:center;
}

.detail-link {
    font-weight: bold;
}

.my1category{
     padding-left: 70px;
}

.comeback{
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.comeback a{
    color: black;
}

